<h1>What are you working on today?</h1>

<div class="chord-type-buttons">
  <%= link_to "Open Chords" , open_chords_path, class: "button" %>
    <%= link_to "Triad Chords" , triads_path, class: "button" %>
</div>