/* app/assets/stylesheets/application.css */

/* General body styling */
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://img.freepik.com/premium-photo/wall-colorful-electric-guitars-with-black-background_854727-90511.jpg");
}

/* Main container to center content on the screen */
.main-container {
  width: 80%;
  max-width: 900px;
  padding: 20px;
  background-color: #ffffffed;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Header styling */
.header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #444;
}

/* Banner styling */
.banner {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
}

li {
  list-style: none;
}

.button {
  padding: 10px 20px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #004999;
}

.string-set-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.chord-type-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}